@model Health.Web.App.Models.Appointment

@{
    ViewData["Title"] = "Create";
}

<h3>Create New Appointment</h3>


<hr />
@*<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AccountDoctorId" class="control-label"></label>
                <select asp-for="AccountDoctorId" class ="form-control" asp-items="ViewBag.AccountDoctorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PatientId" class="control-label"></label>
                <select asp-for="PatientId" class ="form-control" asp-items="ViewBag.PatientId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DateAppointments" class="control-label"></label>
                <input asp-for="DateAppointments" class="form-control" />
                <span asp-validation-for="DateAppointments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SendEmailConfirmed" class="control-label"></label>
                <input asp-for="SendEmailConfirmed" class="form-control" />
                <span asp-validation-for="SendEmailConfirmed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@




<form asp-action="Create">
    <div class="container">
        <div class="row">


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-lg-4">
                <label asp-for="AccountDoctorId" class="control-label"></label>
                <select asp-for="AccountDoctorId" class="form-control" asp-items="ViewBag.AccountDoctorId "></select>
            </div>
            <div class="col-lg-4">
                <label asp-for="PatientId" class="control-label"></label>
                <select asp-for="PatientId" class="form-control" asp-items="ViewBag.PatientId "></select>
            </div>
            <div class="col-lg-4">
                <label asp-for="DateAppointments" class="control-label"></label>
                <input asp-for="DateAppointments" class="form-control" />
                <span asp-validation-for="DateAppointments" class="text-danger"></span>
            </div>

        </div>

    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;

    <div class="container">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-lg-4">
                <label asp-for="StartTime" class="control-label"></label>
                <input type="time" asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="col order- first">
                <label asp-for="EndTime" class="control-label"></label>
                <input type="time"  asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
           


        </div>

    </div>


    <div class="container">
        <div class="row">

            <div class="col-auto me-auto">
                <input type="submit" value="Create" class="btn btn-primary" />

            </div>

            <div class="col-10">
                <a class="btn btn-secondary" asp-action="Index">Back to List</a>
            </div>



        </div>

    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
