@model Health.Web.App.Models.Appointment

@{
    ViewData["Title"] = "Create";

}

@if (TempData["notify"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert" >
        <strong>@TempData["notify"]</strong>

        <button type="button" class="close" data-dismiss="alert" aria-label="close">

            <span aria-hidden="true">&times;</span>
        </button>
    </div>


}


<h3>Create New Appointment</h3>

<hr />

<form asp-action="Create">
    <div class="container">
        <div class="row">


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-lg-4">
                <label asp-for="AccountDoctorId" class="control-label"></label>
                <select asp-for="AccountDoctorId" class="form-control" asp-items="ViewBag.AccountDoctorId "></select>
            </div>
            <div class="col-lg-4">
                <label asp-for="PatientId" class="control-label"></label>
                <select asp-for="PatientId" class="form-control" asp-items="ViewBag.PatientId "></select>
            </div>
            <div class="col-lg-4">
                <label asp-for="DateAppointments" class="control-label"></label>
                <input asp-for="DateAppointments" class="form-control" />
                <span asp-validation-for="DateAppointments" class="text-danger"></span>
            </div>

        </div>

    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;

    <div class="container">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-lg-4">
                <label asp-for="StartTime" class="control-label"></label>
                <input type="time" asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="col order- first">
                <label asp-for="EndTime" class="control-label"></label>
                <input type="time" asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>



        </div>

    </div>


    <div class="container">
        <div class="row">

            <div class="col-auto me-auto">
                <input id="createAppointment" type="submit" value="Create" class="btn btn-primary" />

            </div>

            <div class="col-10">
                <a class="btn btn-secondary" asp-action="Index">Back to List</a>
            </div>



        </div>

    </div>
</form>



@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/notify.js"></script>


}
